<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    
    <title>Please Rate Our Service</title>
</head>
<body>
    <div class="container">
        <!-- ===== COMPANY LOGO ===== -->
        <img src="{{ url_for('static', filename='dgrouplogo.png') }}" alt="dgroup" class="company-logo">

        <!--  Info if the client do not insert the required fields -->
        {% if message %}
            <p class="info">{{ message | safe }}</p>
        {% endif %}
  
        <!-- ===== START FORM ===== -->
        <form action="/submit" method="POST">
        <!-- === Client Name === -->
            <div class="form-client">
                <h3>Client Name</h3>
                <input type="text" name="client" placeholder="Please add you name">
            </div>

        <!-- === Rating 1 to 10 === -->
            <div class="form-client">
                <h3>Please Rate Our Service</h3>
                <input type="radio" name="rating" value="1" /> 1
                <input type="radio" name="rating" value="2" /> 2
                <input type="radio" name="rating" value="3" /> 3
                <input type="radio" name="rating" value="4" /> 4
                <input type="radio" name="rating" value="5" /> 5
                <input type="radio" name="rating" value="6" /> 6
                <input type="radio" name="rating" value="7" /> 7
                <input type="radio" name="rating" value="8" /> 8
                <input type="radio" name="rating" value="9" /> 9
                <input type="radio" name="rating" value="10" checked /> 10
            </div>

        <!-- === Client Comment === -->
            <div class="form-client">
                <h3>Please Comment about our service/product</h3>
                <textarea name="comments" cols="30" rows="10"></textarea>
            </div>
            <input class="btn" type="submit" value="Submit">
        </form>
    </div>
</body>
</html>