<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Please Rate Our Service</title>
</head>
<body>
    <div class="container">
        <!-- ===== COMPANY LOGO ===== -->
        <img src="{{ url_for('static', filename='dgrouplogo.png') }}" alt="dgroup" class="logo">

        <!-- ===== START FORM ===== -->
        <form action="/submit" method="POST">
        <!-- === Client Name === -->
            <h3>Client Name</h3>
            <input type="text" name="client" placeholder="Please add you name">



        <!-- === Rating 1 to 10 === -->



        <!-- === Client Comment === -->


        </form>
    </div>
</body>
</html>