<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Thank YOU!</title>
</head>
<body>
    <div class="container">

        <img src="{{ url_for('static', filename='dgrouplogo.png') }}" alt="dgroup" class="logo">
        
        <h1>Great Thank YOU!</h1>
        <h2>Thank you for rating us.</h2>
      </div>
</body>
</html>Great Thank YOU!